body {
  background-color: rgb(157, 181, 182);
  position: relative;
}
#cards {
  display: flex;
  flex-wrap: wrap;
  
}

.card {
  flex: 7% 0 1;
  height: 10vw;
  border: 2px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 2px;
  box-sizing: border-box;
  background-color: #fff;
}

.back {
    background: url('Regalia20.png');
    background-size: cover;
}

.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 3px;
  font-size: 10px;
}

.card p:last-child {
  transform: rotate(180deg);
}

.paired {
  background-color: #dae0e5;
}

#header {
  
  margin: 0 auto;
  flex-direction: row;
  align-items: flex-end;
  width: 85%;
  position: relative;
}

#header .title {
  width: 100%;
  display: flex;
  
}

#header .title img {
  max-width: 3em;
  border-radius: 50%;
  

}

#header .title h4 {
  
  padding-left: 0.5em;
  color: #6c90ac;
}

#header .score {
  padding-left: 0.5em;
  margin-left: 100px;
  color: #6c90ac;
  
}
#header .tried {
  padding-left: 50px;
  margin-left: 100px;
  color: #6c90ac;
}

.wrong {
  animation: wrongAnimation 0.2s;
  animation-iteration-count: 4;
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}


/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 20vh;
  background-color: RGBA(31, 151, 174, 0.8);
  width: 100vw;
  padding: 50px 0;
}
.completed > p {
  font-size: 1.5em;
  color: rgb(195, 233, 58);
  text-align: center;
  margin: 0;
}
.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #ebc95c;
}